.btn {
    display: none;
    padding: 10px;
    background-color: #0093A2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: -100px;
    top: 0;

    &:hover {
        background-color: #00626d;
        &:before{
            border-right: 10px solid #00626d;
        }
    }

    &:before {
        content: '';
        // display: block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 10px solid #0093A2;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;

    }
    &.visible{
        display: inline-block;
    }
}