.pay{
    width: 870px;
    color: #222A46;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 80px;
}
.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
}
.text {
    margin-bottom: 30px;
}
.item{
    margin-bottom: 20px;
}
.info{
    padding-top: 30px;
    margin-bottom: 40px;
}
.cardWrap{
    display: flex;
    justify-content: space-between;
}