.mainSlider {
    padding: 30px 0;

    &Container {
        display: flex;
        justify-content: space-between;
    }
}

.bigSlider {
    width: 873px;

    &__item {
        position: relative;

        img {
            display: block;
            width: 100%;
        }
    }

    &__info {
        position: absolute;
        left: 90px;
        top: 60px;
        z-index: 99;

        &TopText {
            display: inline-block;
            font-family: 'TT Norms';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: #0093A2;
            padding: 7px 15px;
            background-color: #fff;
            border-radius: 50px;
        }

        &MiddleText {
            width: 310px;
            font-family: 'Yeseva One';
            font-weight: 400;
            font-size: 44px;
            line-height: 56px;
            color: #222A46;
            margin-bottom: 10px;
        }

        &UnderText {
            font-family: 'TT Norms';
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #222A46;
            margin-bottom: 10px;
            &:first-letter{
                text-transform: uppercase;
            }
        }

        &Promo {
            display: flex;
            align-items: center;

            &Text {
                font-family: 'TT Norms';
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #E2195B;
                padding: 15px 25px;
                background-color: #fff;
                text-transform: uppercase;
            }

            &Btn {
                background: #0093A2;
                opacity: 0.5;
                border-radius: 0px 10px 10px 0px;
                padding: 13px;
                cursor: pointer;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.smallSlider {
    width: 278px;

    &__title {
        font-family: 'TT Norms';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #222A46;
        margin-bottom: 3px;
    }

    &__item {
        background: #FFFFFF;
        border: 1px solid #E2E4EB;
        border-radius: 5px;
        overflow: hidden;
    }

    &__info {
        padding: 20px;

        &Title {
            font-family: 'TT Norms';
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #222A46;
            margin-bottom: 10px;
        }

        &SubTitle {
            font-family: 'TT Norms';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #505567;
            margin-bottom: 14px;
        }

        &Chart {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &PriceWrap {}

        &Price {
            font-family: 'TT Norms';
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #222A46;
        }

        &CrossPrice {
            font-family: 'TT Norms';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-decoration-line: line-through;
            color: #B0B2B9;
        }

        &Btn {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            padding: 13px 20px;
            background: #E2195B;
            border-radius: 5px;

            img {
                margin-right: 13px;
                // width: 18px;
                // height: 18px;
            }

            &Text {
                font-family: 'TT Norms';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }

    }
}