.wrap {
    display: flex;
    align-items: center;
}

.text {
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7D818E;
    margin-right: 15px;
}