.map {
    width: 100% !important;
    position: relative;
    width: 100%;
    height: 100%;
}
.onlyMap{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cont {
    max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
    position: relative;
}

.hint {
    position: absolute;
    top: 40px;
}