<section class="seoTwo">
    <div class="container">
        <div class="seoTwo__MainTitle">Почему Лавка Роз</div>        
        <p class="seoTwo__text">Мы предоставляем исключительно комфортные условия взаимодействия всем категориям покупателей, в том числе коммерческим и корпоративным:</p>
        <ul class="seoTwo__list">
            <li class="seoTwo__item">Удобные способы оплаты – наличными, банковскими картами, по безналичному расчету.</li>
            <li class="seoTwo__item">Вручение по любому адресу (город + пригород) в течение 2 часов.</li>
            <li class="seoTwo__item">Работаем ежедневно, в том числе в выходные и праздничные дни.</li>
            <li class="seoTwo__item">Пошаговое консультационное и информационное сопровождение.</li>
            <li class="seoTwo__item">Предоставление фото- и видеоотчетов (по желанию).</li>
        </ul>
        <img class="seoTwo__bg" src="../../../img/seo2.png" alt="seo2">
        <img class="seoTwo__bgImg" src="../../../img/seo2_img.png" alt="seo2-img">
    </div>
</section>