.block {
    padding-top: 15px;
    position: relative;
    // height: 250px;
    // overflow: hidden;
}


.list{
    display: flexbox;
    flex-direction: column;
    column-gap: 10px;
}
.checkBox{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0px;
    }
}

.expand{
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform .3s, heigth 2s;
    &.collapse{
        transform: rotate(0deg);
        top: 22px;
    }
}