.card{
    width: 15rem;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 4px 4px 33px -4px rgba(34, 60, 80, 0.2);
    margin-bottom: 20px;
}
.topWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.text{
    font-size: 18px;
}
.count{
    font-size: 36px;
    text-align: center;
}