.menu{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d7d7d7;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menuItem{
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        background-color: rgb(198, 198, 255);
    }
    &:last-child{
        border-bottom: none;
    }
}