.partitions {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F2F6F7;

    &__mainTitle {
        font-family: 'Yeseva One';
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: #222A46;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }

    &__info {
        padding: 20px;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        color: #222A46;
        margin-bottom: 10px;
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #222A46;
        span{
            font-weight: 700;
        }
    }
}