.marker {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1C21;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}