.delivery {
    width: 870px;
    color: #222A46;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 80px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
}

.text {
    width: 550px;
    margin-bottom: 30px;
}

.topCard {
    margin-bottom: 30px;
}

.item {
    margin-bottom: 20px;
}

.info {
    padding-top: 30px;
    margin-bottom: 40px;
}

.cardWrap {
    display: flex;
    justify-content: space-between;
}

.cardText {
    width: 600px;
}

.cardItem {
    &Title {
        padding-top: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &SubTitle {
        font-size: 18px;
        margin-bottom: 15px;
    }

    &Text {
        width: 280px;
        font-size: 14px;
        line-height: 20px;
    }

    &Time {
        width: 164px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
}