.topInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.TopInfoSocialProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}