.content {
    border: 1px solid #E2E4EB;
    width: 420px;
    margin-left: 18px;
}

.wrap {
    padding: 20px;
}

.title {
    font-family: 'TT Norms';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #222A46;
    margin-bottom: 5px;
}

.paramContainer {
    padding-top: 10px;

}

.paramWrap {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.param {
    font-size: 14px;
    line-height: 20px;
    color: #1B1C21;
    span{
        font-weight: 600;
    }
}

.titleParam {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 650;
    font-size: 14px;
    line-height: 20px;
    color: #353949;
    padding-top: 10px;
    margin-bottom: 7px;
}