.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    font-size: 16px;
    font-weight: 600;

    background: #FFFFFF;
    border: 1px solid #D0D2D7;
    border-radius: 8px;
    padding: 6px 12px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    
    &.disable{
        color: #b8b8b8;
        border: 1px solid #b8b8b8;
    }

}

.incdec {
    font-size: 22px;
    line-height: 26px;
    &.disable{
        color: #b8b8b8;
    }
}
.minus{
    position: relative;
    top: -10px;
}