<div class="mainSlider">
    <div class="container">
        <div class="mainSliderContainer">
            <div class="bigSlider" style="background: url('img/big-slider1.png') no-repeat">
                <div class="bigSlider__info">
                    <div class="bigSlider__infoContainer">
                        <div class="bigSlider__infoStock">НЕДЕЛЯ АКЦИЙ</div>
                        <h2 class="bigSlider__infoText">Бесплатная доставка от 5000 руб</h2>
                        <div class="bigSlider__infoSubtitle">Промокод:</div>
                        <div class="bigSlider__infoPromo">
                            <div class="promo__text">ЛАВКАРОЗ</div>
                            <div class="promo__btn">
                                <img src="/img/promo-btn-copy.png" alt="promo-btn-copy">
                            </div>
                        </div>
                    </div>
                    <div class="sliderArrows arrowLeft">
                        <img src="../../../img/arrow-left.png" alt="arrow-left">
                    </div>
                    <div class="sliderArrows arrowRight">
                        <img src="../../../img/arrow-right.png" alt="arrow-right">
                    </div>
                </div>
            </div>
            <div class="smallSlider">
                <div class="smallSlider__title">Букет недели</div>
                <div class="smallSlider__container">
                    <div class="smallSlider__img">
                        <img src="../../../img/small-slider1.png" alt="small-slider1-img">
                        <div class="smallSlider__heart">
                            <img src="../../../img/heart.png" alt="heart-ico">
                        </div>
                    </div>
                    <div class="smallSlider__info">
                        <h3 class="smallSlider__infoTitle">Букет 25 роз Нежный микс</h3>
                        <div class="smallSlider__infoSubtitle">Высота: 60 см, Ширина: 35 см</div>
                        <div class="smallSlider__infoPriceCart">
                            <div class="smallSlider__infoPrice">
                                <div class="smallSlider__infoPriceActual">13 499 ₽</div>
                                <div class="smallSlider__infoPriceNoActual">15 499 ₽</div>
                            </div>
                            <a href="#">
                                <div class="smallSlider__infoCartBtn">
                                    <div class="cartBtn__ico">
                                        <img src="img/cart-ico.png" alt="">
                                    </div>
                                    <div class="cartBtn__text">В корзину</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="sliderArrows arrowLeft">
                        <img src="../../../img/arrow-left.png" alt="arrow-left">
                    </div>
                    <div class="sliderArrows arrowRight">
                        <img src="../../../img/arrow-right.png" alt="arrow-right">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>