.breadCrumbs{
    padding-top: 20px;
}
.item{
    display: inline-block;
}
.img{
    padding: 7px; 
    display: inline-block;   
}

.link {
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1B1C21;
}