.find {
    position: relative;
}

.input {
    font-size: 16px;
    color: #7D818E;
    padding: 10px 20px;
    border: 1px solid #D0D2D7;
    border-radius: 60px;
    width: 300px;

    &Btn {
        position: absolute;
        top: 12px;
        right: 15px;
    }
}