.slider {
    width: 278px;
}

.title {
    font-family: 'TT Norms';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #222A46;
    margin-bottom: 3px;
}