.menuList {
    display: inline-block;
    box-shadow: 1px 1px 44px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    width: 320px;
    height: 500px;
    margin-right: 25px;
    position: relative;
}
.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 198, 255);
    padding: 0px 10px;
    border-bottom: 1px solid #000;
    .title{
        font-size: 15px;
        font-weight: bold;
    }
}
.icons {
    display: flex;
    // justify-content: end;
    align-items: center;
    // padding: 0px 10px;
    // border-bottom: 1px solid #000;
}
.createBtn,
.deleteBtn {
    padding: 7px 1px;
    cursor: pointer;
    &:hover {
        color: rgb(76, 76, 250);
    }
}
.deleteBtn.disabled {
    color: rgb(153, 153, 153);
}
.input {
    position: relative;
    top: 0;
    left: 0;
}

.item {
    border-bottom: 1px solid rgb(196, 196, 196);    
}
.itemTopWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px 13px 15px;
    // border-bottom: 1px solid rgb(196, 196, 196);
    cursor: pointer;
    position: relative;
    
    &:hover {
        background-color: rgb(240, 240, 252);
    }
    &.active{
        background-color: rgb(210, 210, 255);
    }
}
.optionsBtn{
    position: absolute;
    top: 12px;
    left: -2px;
    color: rgb(199, 199, 199);
    &:hover{
        color: #6d60be;
    }
}
.itemBottomWrap{
    background-color: rgb(211, 211, 211);
}
.optionsList{
    padding: 10px 15px;
    border-bottom: 1px solid rgb(130, 130, 130);
    border-top: 1px solid rgb(130, 130, 130);
}

