.reviews {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F2F6F7;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #222A46;
}

.btnWrap {
    display: flex;
    justify-content: center;
}