.checkBox {
    width: 300px;
    margin-right: 20px;
    position: relative;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D0D2D7;
    border-radius: 5px;
    padding: 6px 15px 6px 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.title {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: #353949;
    margin-bottom: 5px;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #1B1C21;
}

.calendar{
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 999;
}