.title {
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1B1C21;
    margin-bottom: 10px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #D0D2D7;
    border-radius: 5px;
    padding: 8px 10px;
    width: 114px;
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1B1C21;

    &Wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}

// .rangeInput {
//     position: relative;
//     padding-top: 20px;
// }


.inp {
    width: 200px;
    background-color: #727079;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

<<<<<<< HEAD
// input[type="range"] {
//     pointer-events: none;
//     position: absolute;
//     -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
//     border: none;
//     border-radius: 14px;
//     background: #888;
//     overflow: hidden;
//     left: 0;
//     top: 15px;
//     width: 100px;
//     outline: none;
//     height: 8px;
//     margin: 0;
//     padding: 0;
//   }  




// .range {
//     position: absolute;
//     width: 100%;
//     height: 5px;
//     top: 5px;
//     background: none;
//     border-radius: 50%;
//     box-shadow: 0 0 6px rgba(0,0,0,0.05);
//     // pointer-events: none;
// }
=======
.inp::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    background-color: #c9f5c5;
    border: none;
    border-radius: 3px;
}
>>>>>>> 18865b68314e011b698d3553f61e2d6323ae000e

.inp::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    border: 2px solid #000000;
    background: rgba(255, 0, 0, 0.281);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: -4px;
}

// .inp:hover::-webkit-slider-runnable-track {
//     background: #eb7272
// }

// .inp:active::-webkit-slider-runnable-track {
//     background: #b93d3d
// }

.inp::-moz-range-progress {
    background-color: #3c5831;
}





// .range {
//     position: absolute;
//     width: 100%;
//     height: 5px;
//     top: 5px;
//     background: none;
//     border-radius: 50%;
//     box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
//     // pointer-events: none;
// }


.label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-weight: bold;
    }
}