
.input {
    background: #FFFFFF;
    border: 1px solid #D0D2D7;
    border-radius: 5px;
    padding: 8px 10px;
    width: 114px;
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1B1C21;
    box-sizing: border-box;

    &Wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}

.RangeSlider {
    margin-bottom: 20px;
}


.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    span {
        font-weight: bold;
    }
}