<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <ul class="footer__menu">
                <li class="footer__item">
                    Цветы поштучно
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Розы поштучно</li>
                        <li class="footer__menuChildItem">Кустовая роза</li>
                        <li class="footer__menuChildItem">Пионовидная роза</li>
                        <li class="footer__menuChildItem">Хризантемы поштучно</li>
                        <li class="footer__menuChildItem">Альстромерия</li>
                        <li class="footer__menuChildItem">Тюльпаны</li>
                        <li class="footer__menuChildItem">Герберы поштучно</li>
                        <li class="footer__menuChildItem">Лилии поштучно</li>
                        <li class="footer__menuChildItem">Пионы</li>
                        <li class="footer__menuChildItem">Эустома</li>
                        <li class="footer__menuChildItem">Каллы поштучно</li>
                        <li class="footer__menuChildItem">Маттиола</li>
                    </ul>
    
                </li>
                <li class="footer__item">
                    Розы
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Голландские розы</li>
                        <li class="footer__menuChildItem">Местная роза</li>
                        <li class="footer__menuChildItem">Кустовые розы</li>
                        <li class="footer__menuChildItem">Пионовидные розы</li>
                        <li class="footer__menuChildItem">Букет из 101 розы</li>
                    </ul>
                </li>
                <li class="footer__item">
                    Букеты
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Сборные букеты</li>
                        <li class="footer__menuChildItem">Букеты из хризантем</li>
                        <li class="footer__menuChildItem">Букеты из Альстромерий</li>
                        <li class="footer__menuChildItem">Букеты из эустом</li>
                        <li class="footer__menuChildItem">Букеты Гипсофилы</li>
                        <li class="footer__menuChildItem">Букеты из гербер</li>
                        <li class="footer__menuChildItem">Букеты из пионов</li>
                        <li class="footer__menuChildItem">Букеты из тюльпанов</li>
                    </ul>
                </li>
                <li class="footer__item">
                    Композиции
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Ящики с цветами</li>
                        <li class="footer__menuChildItem">Коробки с цветами</li>
                        <li class="footer__menuChildItem">Корзины с цветами</li>
                    </ul>
                </li>
                <li class="footer__item">
                    Подарки
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Мягкие игрушки</li>
                        <li class="footer__menuChildItem">Коробки конфет</li>
                    </ul>
                </li>
                <li class="footer__item">
                    Шары
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Шары в виде цифр</li>
                        <li class="footer__menuChildItem">Фольгированные шары</li>
                        <li class="footer__menuChildItem">Латексные шары</li>
                    </ul>
                </li>
                <li class="footer__item">
                    Информация
                    <ul class="footer__menuChild">
                        <li class="footer__menuChildItem">Доставка</li>
                        <li class="footer__menuChildItem">Оплата</li>
                        <li class="footer__menuChildItem">Отзывы</li>
                        <li class="footer__menuChildItem">Блог</li>
                        <li class="footer__menuChildItem">Гарантии</li>
                        <li class="footer__menuChildItem">Вопрос и ответ</li>
                        <li class="footer__menuChildItem">Корпоративным клиентам</li>
                        <li class="footer__menuChildItem">О компании</li>
                        <li class="footer__menuChildItem">Контакты</li>
                    </ul>
                </li>
            </ul>
    
            <div class="footer__contacts">
                <div class="contacts__title">Наши координаты</div>
                <div class="contacts__point">
                    <div class="contacts__pointName">Служба Доставки</div>
                    <div class="contacts__pointPhone">+7 (920) 211-49-03</div>
                </div>
                <div class="contacts__point">
                    <div class="contacts__pointName">Ул. Вл. Невского 17</div>
                    <div class="contacts__pointPhone">+7 (920) 211-49-03</div>
                </div>
                <div class="contacts__point">
                    <div class="contacts__pointName">Ул. Революции 1905 года 80</div>
                    <div class="contacts__pointPhone">+7 (906) 678-65-99</div>
                </div>
                <div class="contacts__email">
                    <div class="contacts__emailName">E-mail:</div>
                    <div class="contacts__emailText">info@lavkaroz.ru</div>
                </div>
            </div>
        </div>


    </div>
</footer>