<header class="header">
    <div class="container">
        <div class="menu-burger">
            <span></span>
        </div>
        <nav class="topnav" id="topnav">
            <a class="logo" href="/">
                <img src="img/logo.svg" alt="logo">
            </a>
            <ul class="menu-header">
                <li class="menu-item">
                    <a class="@@item-active1" href="@@menu-url1">Home</a>
                </li>
                ddddddcccccc
                <li class="menu-item">
                    <a class="@@item-active2" href="@@menu-url2">Play</a>
                </li>
                <li class="menu-item">
                    <a class="@@item-active3" href="@@menu-url3">Our Mission</a>
                </li>
                <li class="menu-item">
                    <a class="@@item-active4" href="@@menu-url4">Contacts</a>
                </li>
            </ul>

        </nav>
    </div>
</header>