<section class="privileges">
    <div class="container">
        <ul class="privileges__list">
            <li class="privileges__card">
                <img class="privileges__cardImg" src="img/delivery-ico.png" alt="delivery-ico">
                <h4 class="privileges__cardText">Экспресс-доставка<br> от 90 минут</h4>
            </li>
            <li class="privileges__card">
                <img class="privileges__cardImg" src="img/low-price.png" alt="delivery-ico">
                <h4 class="privileges__cardText">Низкие цены</h4>
            </li>
            <li class="privileges__card">
                <img class="privileges__cardImg" src="img/arrivalflowers.png" alt="delivery-ico">
                <h4 class="privileges__cardText">Каждый день поступление <br> свежих цветов</h4>
            </li>
            <li class="privileges__card">
                <img class="privileges__cardImg" src="img/florists.png" alt="delivery-ico">
                <h4 class="privileges__cardText">Опытные флористы</h4>
            </li>
            <li class="privileges__card">
                <img class="privileges__cardImg" src="img/no-weekends.png" alt="delivery-ico">
                <h4 class="privileges__cardText">Работаем <br> без выходных</h4>
            </li>
        </ul>
    </div>
</section>