.track{
    position: relative;
    box-sizing: border-box;
}
.progress{
    position: absolute;
    box-sizing: border-box;
}
.thumb{
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
}