.seoOne {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #F2F6F7;
    position: relative;

    &__mainTitle {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #222A46;
        margin-bottom: 30px;
    }

    &__block {
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.15);
        border-radius: 10px;
        padding: 50px 100px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #353949;
    }

    &__bgLeft {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__bgRight {
        position: absolute;
        top: 0;
        right: 0;
    }
}