.block {
    padding-top: 15px;
}

.subTitle {
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
    grid-gap: 10px;
    margin-bottom: 15px;
}