.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 28, 33, 0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    // pointer-events = all  - чтобы модальное окно было кликабельным
    pointer-events: all;
    transition: 0.5s;

}

.form {
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    background: #FFF;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border-radius: 20px;
        background-color: #fafafa;
    }
}

.title {
    color: #1B1C21;
    text-align: center;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
    user-select: none;
}

.wrapItems {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: #F2F3F5;
    padding: 5px;
    margin-bottom: 15px;
}

.allError {
    font-size: 12px;
    color: #ff0000;
    text-align: center;
    margin-bottom: 10px;
}

.item {
    width: 170px;
    color: #505567;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    cursor: pointer;
    user-select: none;

    &.active {
        color: #0093A2;
        border-radius: 5px;
        background: var(--ffffff, #FFF);
        box-shadow: 0px 4px 15px 0px rgba(34, 42, 70, 0.08);
    }
}

.form {
    &Item {
        margin-bottom: 25px;
    }

}

.caption {
    color: #353949;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    display: block;
    margin-bottom: 5px;
    user-select: none;
}

.input {
    position: relative;

    input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #D0D2D7;
        background-color: #FFF;
        padding: 13px 20px;
        box-sizing: border-box;
        // белый цвет, когда автозаполнение, по умолчанию синий цвет
        box-shadow: inset 20px 20px 0px 20px #fff
    }
}

.error {
    color: #ff0000;
    font-size: 11px;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.text {
    color: #0093A2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    user-select: none;
}

.submit {
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    background: #0093A2;
    color: #fff;
    padding: 13px 0;
    cursor: pointer;
    &:hover{
        background: #01a1b3;
    }
}