.btn {
    position: relative;
    &Count {
        width: 20px;
        height: 20px;
        background-color: #0093A2;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        position: absolute;
        top: 0px;
        right: -10px;
        z-index: 99;
    }
}