.top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.dropdown {
    margin-right: 10px;
    
    select {
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        width: 300px;
        cursor: pointer;
    }
}

.ButtonAdminEdit {
    margin-right: 20px;
}

.ButtonAdminSelect {
    margin-right: 30px;
}