.cartList {
    width: 100%;
    border: 1px solid #E3E3E8;
    border-radius: 10px;
    &:hover{
        box-shadow: 0px 4px 15px 0px rgba(34, 42, 70, 0.08);
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    border-bottom: 1px solid #E3E3E8;

    p {
        font-size: 16px;
        line-height: 22px;
        color: #222A46;
    }
}

.clear {
    font-size: 16px;
    line-height: 22px;
    color: #7D818E;
    user-select: none;
    cursor: pointer;

    &:hover {
        color: #222A46;
    }
}

.cartItem {
    padding: 14px 25px;
    border-bottom: 1px solid #E3E3E8;

    &:last-child {
        border-bottom: none;
    }
}