.product {
    max-width: 278px;
    // max-height: 440px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E4EB;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    &:hover{
        box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.15);
    }
}

.imgWrap {
    border-radius: 50px;
}

.img {
    border-radius: 5px 5px 0 0;
}

.content {
    padding: 0 15px 20px;
}

.title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #222A46;
    padding: 15px 0 15px;
    height: 44px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 15px;

}

.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}