.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    position: relative;
}

.number {
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}




// .header__call {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .call__number {
//     font-size: 16px;
//     font-weight: 700;
//     margin-left: 15px;
// }