.section{
    &Item{
        padding: 0 30px 30px;
        border-bottom: 1px solid #888;
        &:last-child{
            border-bottom: none;
        }
    }
    &Title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-top: 20px;
    }
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.elem{
    &List{
        border: 1px solid #000;
        box-shadow: 1px 1px 44px 1px rgba(0, 0, 0, 0.25);
        width: 100%;
    }
    &Title{
        padding: 10px;
        border-bottom: 1px solid #000;
        background-color: #C8CCFA;
        font-weight: bold;
    }

}

.operations{
    width: 250px;
    margin-left: 30px;
    border: 1px solid #000;
    box-shadow: 1px 1px 44px 1px rgba(0, 0, 0, 0.25);
    // border-radius: 10px;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    &Title{
        text-align: center;
        padding: 7px 0;
        border-bottom: 1px solid #000;
        font-size: 16px;
        font-weight: bold;
    }
    &Section{
        // padding: 10px;
        border-bottom: 1px solid #bbb;
        &:last-child{
            border-bottom: none
        }
    }
    &Item{
        padding: 5px 20px;
        &:hover{
            background-color: rgb(198, 198, 255);
        }
    }
}
