.section{
    &Item{
        padding: 0 30px 30px;
        border-bottom: 1px solid #888;
        &:last-child{
            border-bottom: none;
        }
    }
    &Title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-right: 15px;
        padding-top: 20px;
    }
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.titleWrap{
    display: flex;
    align-items: center;
}
.elem{
    &List{
        border: 1px solid #000;
        box-shadow: 1px 1px 44px 1px rgba(0, 0, 0, 0.25);
        width: 100%;
    }
    &Item{
        background-color: #ddd;
        .titleWrap{
            background-color: #C8CCFA;
            border-bottom: 1px solid #000;
        }
    }
    &Title{
        padding: 10px;
        font-weight: bold;
    }
}
.blockText{
    
    &Item{
        cursor: pointer;
        padding: 20px 10px;
        border-bottom: 1px dashed #999;
        &:last-child{
            border-bottom: none;
        }
        .titleWrap{
            background-color: transparent;
            border-bottom: none;
            margin-bottom: 10px;
        }
    }
    &Title{
        margin-right: 15px;
    }
    &Area{
        line-height: 24px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #888;
        padding: 10px 5px;
    }
}
.blockImg{
    border-top: 1px dashed #999;
    padding-top: 20px;
    cursor: pointer;
    .titleWrap{
        background-color: transparent;
        border-bottom: none;
    }
    &Title{
        padding: 0 0 0 10px;
        margin-right: 15px;
    }
    &List{
        font-size: 14px;
        padding: 20px 10px;
        display: flex;
        flex-wrap: wrap;
    }
    &Item{
        margin: 0 40px 20px 0;
        text-align: center;
    }
    &Photo{
        width: 150px;
        height: 200px;
        border: 1px solid #777;
        background-color: #777;
        box-shadow: 10px 9px 31px -11px rgba(34, 60, 80, 0.63);
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }

}

.operations{
    width: 250px;
    margin-left: 30px;
    border: 1px solid #000;
    box-shadow: 1px 1px 44px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    &Title{
        text-align: center;
        background-color: #C8CCFA;
        padding: 10px 0;
        border-bottom: 1px solid #000;
        font-size: 16px;
        font-weight: bold;
    }
    &Section{
        border-bottom: 1px solid #bbb;
        &:last-child{
            border-bottom: none
        }
    }
    &Item{
        padding: 5px 20px;
        &:hover{
            background-color: rgb(226, 226, 255);
        }
    }
}

.btnCreateSection{
    padding: 30px;
}
