.wrap{
    display: flex;
}
.text{
    font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1B1C21;
        margin-right: 10px;
}