<!DOCTYPE html>
@@include('components/page-blocks/_head.html',{
"lang":"en",
"title":"Сайт",
"description":"Сайт",
"keywords":"",
"favicon":"img/favicons/favicon",
})

<body>
	<main class="main">
		<!-- @@include('components/page-blocks/_header.html',{
			"menu-url1": "/",
			"item-active1": "",

			"menu-url2": "/play.html",
			"item-active2": "",

			"menu-url3": "/ourmission.html",
			"item-active3": "",

			"menu-url4": "/contacts.html",
			"item-active4": "active",

		})

		@@include('components/page-blocks/_form.html')
		@@include('components/page-blocks/_title-page.html',{
			"title": "CONTACTS",
			"text": "",
		})

		@@include('components/page-blocks/_footer.html') -->


		<!--@@include('components/bem-blocks/example/button/_btn-main.html',{
			"link": "google.com",
			"class": "",
			"text": "Кнопка"})-->
	</main>
	
	@@include('components/page-blocks/_scripts.html')
</body>

</html>
