<section class="gallery">
    <div class="container">
        <h2 class="gallery__mainTitle">Галерея</h2>
        <div class="gallery__list">
            <div class="gallery__item">
                <img src="../../../img/gallery1.png" alt="gallery1">
            </div>
            <div class="gallery__item">
                <img src="../../../img/gallery2.png" alt="gallery2">
            </div>
            <div class="gallery__item">
                <img src="../../../img/gallery3.png" alt="gallery3">
            </div>
            <div class="gallery__item">
                <img src="../../../img/gallery4.png" alt="gallery4">
            </div>

            <div class="arrows arrowLeft">
                <img src="../../../img/arrow-left.png" alt="arrow-left">
            </div>
            <div class="arrows arrowRight">
                <img src="../../../img/arrow-right.png" alt="arrow-right">
            </div>
        </div>
    </div>
</section>