.blogs {
    margin-bottom: 80px;
}

.title {
    font-family: 'Yeseva One';
    color: #222A46;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(367px, 1fr));
    grid-gap: 120px 0px;
}

.blog {
    width: 377px;
    border-radius: 5px;
    border: 1px solid #F2F3F5;
    box-shadow: 0px 4px 15px 0px rgba(34, 42, 70, 0.08);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(34, 42, 70, 0.25);
    }

    &Img {
        border-radius: 5px 5px 0px 0px
    }

    &Content {
        padding: 20px;
    }

    &Title {
        color: #1B1C21;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        // padding-top: 20px;
        margin-bottom: 10px;
    }

    &Text {
        color: #353949;
        height: 70px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 20px;
    }

    &Data {
        color: #7D818E;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.btn {
    padding-top: 50px;

    &Wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #D7D9DC;
        padding: 10px;
        cursor: pointer;
        transition: border .3s;
        &:hover{
            border: 1px solid #afb1b4;
        }
    }

    &Text {
        color: #353949;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 10px;
    }
}