.menuList {
    display: inline-block;
    box-shadow: 1px 1px 44px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    width: 320px;
    height: 500px;
    margin-right: 25px;
    position: relative;
}
.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 198, 255);
    padding: 0px 10px;
    border-bottom: 1px solid #000;
    .title{
        font-size: 15px;
        font-weight: bold;
    }
}
.icons {
    display: flex;
    // justify-content: end;
    align-items: center;
    // padding: 0px 10px;
    // border-bottom: 1px solid #000;
}
.createBtn,
.deleteBtn {
    padding: 7px 1px;
    cursor: pointer;
    &:hover {
        color: rgb(76, 76, 250);
    }
}
.deleteBtn.disabled {
    color: rgb(153, 153, 153);
}
.input {
    position: relative;
    top: 0;
    left: 0;
}

.itemWrap {
    border-bottom: 1px solid rgb(196, 196, 196);    
}

.itemTopWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px 13px 15px;
    // border-bottom: 1px solid rgb(196, 196, 196);
    cursor: pointer;
    position: relative;
    
    &:hover {
        background-color: rgb(240, 240, 252);
    }
    &.active{
        background-color: rgb(210, 210, 255);
    }
    // &.dragOver{
    //     background-color: rgb(231, 231, 240);
    // }
}
.optionsBtn{
    position: absolute;
    top: 12px;
    left: -2px;
    color: rgb(199, 199, 199);
    &:hover{
        color: #6d60be;
    }
}
.itemBottomWrap{
    background-color: rgb(211, 211, 211);
}
.optionsList{
    padding: 10px 15px;
    border-bottom: 1px solid rgb(130, 130, 130);
    border-top: 1px solid rgb(130, 130, 130);
}

.futureItem {
    border-bottom: 1px solid rgb(196, 196, 196);    
    &Wrap{
        border: 1px dashed rgb(184, 184, 184);
        // padding: 13px 10px 13px 15px;
        background-color: #6d60be;
        padding: 13px 10px;
        color: rgb(180, 180, 180);
    }
}
.list{
    height: calc(100% - 37px);
    overflow-y: auto;
    
}

// body{
//     scrollbar-color: #D2D2FF #551A8B;
//     scrollbar-width: thin;
// }
.list::-webkit-scrollbar {
    width: 7px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #fff;
}
/* ползунок скроллбара */
.list::-webkit-scrollbar-thumb {
    background-color: #C8CCFA;
    border-radius: 10px;
}
.list::-webkit-scrollbar-thumb:hover {
    background-color: #b5ade9;
}

.images{
    padding: 10px;
}
.imagesTitle{
    font-size: 14px;
    margin-bottom: 7px;
}
.preview {
    margin-top: 20px;
    width: 100%;
    max-height: 260px;
    overflow-y: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &Images {
        position: relative;
        cursor: pointer;

        &:hover {
            img {
                border-color: #000;
            }
        }

        img {
            display: block;
            width: 80px;
            height: 85px;
            object-fit: cover;
            margin-bottom: 5px;
            border: 2px solid transparent;

        }
    }

    &Delete {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 2px;
        color: #000;
        background-color: #fff;
        border-radius: 50%;
    }
}
.loadBtn{
    padding-top: 7px;
    text-align: center;
    button{
        outline: none;
        border: 0;
        padding: 5px;
        cursor: pointer;
        &:hover{
            background-color: #e9e8e8;
        }
    }
}

