body {
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
	color: #2b2b2b;
	// background-color: rgb(0, 0, 0);
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	// background-color: #eee;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
li {
	display: block;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button:active,
button:focus {
	outline: none;
	border: 0;
}

.menuListDragOver {
	background-color: rgb(231, 231, 240);
}


.slick-prev:before,
.slick-next:before {
	display: none;
}

.slick-prev,
.slick-next {
	z-index: 999;
	border-radius: 50%;
	padding: 15px !important;
}

.slick-prev {
	left: 20px !important;
	background: url('/img/arrow-left.png') no-repeat center !important;
	background-color: #fff !important;
}

.slick-next {
	right: 20px !important;
	background: url('/img/arrow-right.png') no-repeat center !important;
	background-color: #fff !important;
}

.smallSlider {

	.slick-prev,
	.slick-next {
		top: calc(50% - 13px) !important;
	}
}

// .mainCards{
// 	.slick-slide {
// 		margin: 0 5px;
// 	  }
// 	  .slick-list {
// 		margin: 0 -5px;
// 	  }
// }

.gallery {
	.slick-prev {
		left: 0px !important;
	}

	.slick-next {
		right: 0px !important;
	}
}

.reviews {

	.slick-prev,
	.slick-next {
		display: none !important;
	}
}









// input[type=range] {
// 	width: 200px;
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	appearance: none;
// }

// input[type=range]::-webkit-slider-runnable-track {
// 	border-radius: 10px/100%;
// 	height: 17px;
// 	border: 1px solid rgb(255, 0, 21);
// 	background-color: #f1b3b3;
// }

// input[type=range]::-webkit-slider-thumb {
// 	background: #2bff00;
// 	border: 1px solid rgb(0, 0, 0);
// 	border-radius: 10px;
// 	cursor: pointer;
// 	width: 22px;
// 	height: 22px;
// 	-webkit-appearance: none;
// 	margin-top: -4px;
// }






// input[type=range] {
// 	width: 200px;
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	appearance: none;
// }

// input[type=range]::-webkit-slider-runnable-track {
// 	width: 300px;
// 	height: 7px;
// 	background: #35e725;
// 	// border: none;
// 	border-radius: 3px;
// }

// input[type=range]::-webkit-slider-thumb {
// 	-webkit-appearance: none;
// 	border: none;
// 	border: 2px solid #000000;
// 	background: rgba(255, 0, 0, 0.281);
// 	height: 16px;
// 	width: 16px;
// 	border-radius: 50%;
// 	box-sizing: border-box;
// 	margin-top: -4px;
// }








//  input[type=range]:focus {
// 	outline: none;
//  }
//   input[type=range]:focus::-webkit-slider-runnable-track {
// 	background: #ccc;
//  }
//  input[type=range] {
// 	/* fix for FF unable to apply focus style bug  */
// 	border: 1px solid white;
// 	/*required for proper track sizing in FF*/
// 	width: 300px;
//  }
//   input[type=range]::-moz-range-track {
// 	width: 300px;
// 	height: 5px;
// 	background: #ddd;
// 	border: none;
// 	border-radius: 3px;
//  }
//   input[type=range]::-moz-range-thumb {
// 	border: none;
// 	height: 16px;
// 	width: 16px;
// 	border-radius: 50%;
// 	background: goldenrod;
//  }

//  /*hide the outline behind the border*/
//  input[type=range]:-moz-focusring {
// 	outline: 1px solid white;
// 	outline-offset: -1px;
//  }
//   input[type=range]:focus::-moz-range-track {
// 	background: #ccc;
//  }

//  /* for ie */

//  input[type=range]::-ms-track {
// 	width: 300px;
// 	height: 5px;

//  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
// 	background: transparent;

//  /*leave room for the larger thumb to overflow with a transparent border */
// 	border-color: transparent;
// 	border-width: 6px 0;

//  /*remove default tick marks*/
// 	color: transparent;
//  }
//  input[type=range]::-ms-fill-lower {
// 	background: #777;
// 	border-radius: 10px;
//  }
//  input[type=range]::-ms-fill-upper {
// 	background: #ddd;
// 	border-radius: 10px;
//  }
// //  input[type=range]::-ms-thumb {
// // 	border: none;
// // 	height: 16px;
// // 	width: 16px;
// // 	border-radius: 50%;
// // 	background: goldenrod;
// //  }
//  input[type=range]:focus::-ms-fill-lower {
// 	background: #888;
//  }
//  input[type=range]:focus::-ms-fill-upper {
// 	background: #ccc;
//  }