body {
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
	color: #2b2b2b;
	// background-color: rgb(0, 0, 0);
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	// background-color: #eee;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
li {
	display: block;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button:active,
button:focus {
	outline: none;
	border: 0;
}

.menuListDragOver {
	background-color: rgb(231, 231, 240);
}



.slick-prev:before,
.slick-next:before {
	display: none;
}

.slick-prev,
.slick-next {
	z-index: 999;
	border-radius: 50%;
	padding: 15px !important;
}

.slick-prev {
	left: 20px !important;
	background: url('/img/arrow-left.png') no-repeat center !important;
	background-color: #fff !important;
}

.slick-next {
	right: 20px !important;
	background: url('/img/arrow-right.png') no-repeat center !important;
	background-color: #fff !important;
}

.smallSlider {
	.slick-prev,
	.slick-next {
		top: calc(50% - 13px)!important;
	}
}

// .mainCards{
// 	.slick-slide {
// 		margin: 0 5px;
// 	  }
// 	  .slick-list {
// 		margin: 0 -5px;
// 	  }
// }

.gallery{
	.slick-prev {
		left: 0px !important;
	}
	.slick-next {
		right: 0px !important;
	}
}

.reviews{
	.slick-prev,
	.slick-next {
		display: none!important;
	}	
}