.background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // pointer-events = all  - чтобы модальное окно было кликабельным
    pointer-events: all;
    transition: 0.5s;
}

.window {
    padding: 25px;
    background-color: #fff;
    position: relative;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    
    cursor: pointer;
    &:before{
        content: '';
        display: block;
        height: 1px;
        width: 15px;
        position: absolute;
        top: 7px;
        left: 0px;
        background-color: #000;
        transform: rotate(42deg)
    }
    &:after{
        content: '';
        display: block;
        height: 1px;
        width: 15px;
        background-color: #000;
        transform: rotate(-45deg);
        position: absolute;
        top: 7px;
        left: 0px;
    }
    &:hover{
        background-color: #eee;
    }
}

.LabelEdit {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input {
        font-size: 16px;
        width: 530px;
        padding: 5px;
        border: 1px solid #000;
        border-radius: 5px;
    }
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nameInput.error{
    background-color: rgb(250, 218, 218);
}

.secondLevel,
.thirdLevel {
    display: flex;

    .LabelEdit {
        margin-right: 15px;
    }
}

.thirdLevel {
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    padding: 5px;
    // border: 2px solid #000;
    border-radius: 5px;
}

.vendorInput {
    width: 130px;
}

.priceInput {
    width: 75px;
}

.countInput {
    width: 55px;
}

.dropdown {
    margin-right: 10px;

    select {
        // border: 2px solid #000;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        width: 200px;
        cursor: pointer;
    }
}

.preview{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    &Images{
        width: 150px;
        height: 200px;
    }
}



.buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btnClose {
    margin-left: 20px;
}