.header {
    background-color: #fff;
    position: sticky;
    z-index: 999;
    top: 0;


    padding: 15px 0;

    &Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__cart {
    // width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


