.catalogSeo {
    padding: 60px 0;
}

.title {
    font-family: 'TT Norms';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #222A46;
    margin-bottom: 20px;
}

.text {
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #353949;
}

.subtitle {
    font-family: 'TT Norms';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222A46;
    padding-top: 40px;
    margin-bottom: 20px;
}