.mainimage {
    margin-bottom: 10px;
    
    img {
        object-fit: cover;
        transform: scale(1);
        position: relative;
        width: 476px;
        height: 400px;
        cursor: zoom-in;
    }
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnailImg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;

    &:hover {
        border: 2px solid #E2195B;
    }
}