.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    font-size: 16px;
    font-weight: 600;

    background: #FFFFFF;
    border: 1px solid #D0D2D7;
    border-radius: 8px;
    padding: 6px 12px;
    box-sizing: border-box;

}

.incdec {
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
}
.minus{
    position: relative;
    top: -10px;
}