.buttonText{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background-color: rgb(198, 198, 255);
    }
}

.buttonIco{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    padding: 3px;
    div{
        display: flex;
        justify-items: center;
        align-items: center;
    }
    &.active, &.active:hover{
        background-color: rgb(198, 198, 255);
    }
    &:hover{
        background-color: #e9ebff;
    }
}